:root {
  --vdMag: hsl(300, 43%, 22%);
  --sPink: hsl(333, 80%, 67%);
  --dgMag: hsl(303, 10%, 53%);
  --lgMag: hsl(300, 24%, 96%);
}

h1 {
  margin: 50px;
}
body {
  position: relative;

  margin-top: 0px;
  font-family: "Spartan", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.wrapper {
  margin-top: 0px;
}
h1 {
  color: var(--vdMag);
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
#desc {
  font-size: 15px;
  line-height: 1.5;
  color: var(--vdMag);
  font-weight: 500;
}
.user p:first-child {
  font-weight: 700;
}
.verified {
  color: var(--sPink);
  font-size: 10px;
  font-weight: 500;
}
.rating {
  height: 45px;
  background-repeat: no-repeat;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  color: var(--vdMag);
  font-weight: 700;

  font-size: 12px;
  background-color: var(--lgMag);
  align-items: center;
  width: 95%;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 15px;
}
.stars-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.stars {
  padding: 10px 10px;

  background: url(images/icon-star.svg);
  background-repeat: no-repeat;
}

#rating-wrapper {
  display: flex;
  flex-direction: column;
}

#review-wrapper {
  display: flex;
  font-size: 12px;
  color: white;
  font-weight: 400;
}
p {
  margin: 3px;
}
.profile {
  display: flex;
  margin-left: 10px;
  padding-bottom: 20px;
}
.comment {
  line-height: 1.5;
  margin-left: 10px;
}
.user {
  display: flex;
  flex-direction: column;
}
.photo {
  width: 35px;
  margin-right: 15px;
  border-radius: 50%;
}
.review {
  background-color: var(--vdMag);

  width: 95%;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
}

.rating {
  background-color: var(--lgMag);
}
@media (max-width: 900px) {
  #intro {
    text-align: center;
    width: 80%;
    margin: auto;
  }
h1{
    max-width: 250px;
    margin:100px auto; 
    margin-bottom: 30px;
}
  #desc{
      max-width: 250px;
      margin: auto;
  }
  .rating{
max-width: 250px;
justify-content: center;

  }
  .wrapper {
    width: 100%;
    margin: auto;

    position: absolute;
    background: url("images/bg-pattern-top-mobile.svg"),
      url("images/bg-pattern-bottom-mobile.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top -100px left -100px;
  }

  #rating-wrapper {
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
    margin: 30px auto;
    width: 80%;
  }

  .review {
    margin-bottom: 20px;
    padding: 20px 10px;
    max-width: 250px;
    
  }
  #review-wrapper {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: auto;
  
    padding-bottom: 100px;
   
  }
}
@media (min-width: 901px) {
  #intro {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    justify-content: space-around;
  }

  .wrapper {
    margin-top: 50px;
    width: 90%;
    margin: 100px auto;
  }
  #div1 {
    width: 70%;
    margin-right: 30px;
    max-width: 350px;
  }

  h1 {
    font-size: 40px;

    margin: 0;
    margin-bottom: 10px;
  }

  #desc {
    margin: auto;
    max-width: 100%;
  }

  .rating:nth-child(2) {
    margin-left: 40px;
  }
  .rating:nth-child(3) {
    margin-left: 80px;
  }
  .rating {
flex-direction: row;
justify-content: space-around;
    padding: 3px;
    width: 350px;
    padding-right: 50px;
 
  }

  #review-wrapper {
    justify-content: space-evenly;
  padding-bottom: 50px;
    height: 250px;
  margin:auto;
  }
  .review {
    max-width: 300px;
    padding: 30px;
    margin-right: 10px;
  }
  #rating-wrapper{
      justify-content: space-around;
  }

 
.review:nth-child(1){
    align-self: flex-start;
}
  .review:nth-child(2){
  align-self: center;
  }
  .review:nth-child(3){
      align-self:flex-end;
  }
}
